# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
*.log
media/
staticfiles/

# Environment
.env
.env.*
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker / local
postgres_data/

backups/
outputs/
node_modules/
